<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Home Depot</title>
    <link rel = "icon" href ="https://assets.homedepot-static.com/single-signin-ui/0.557.0/build/7b4c51f66559b768081eabf61db98f2d.svg" type = "image/x-icon">
     <!----------font awesome cdn ------------->
     <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
   <!-- bootstrap icons cdn -->
   <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"/>
    
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/productDetails.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/list.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/listMin.css">
    <link rel="stylesheet" href="/css/sidebar.css">

</head>
<body>
   <!-- Heading  -->
 
  
    <div class="container">
      <div class="heading">
        <p id="retainerHeading">#1 Home Improvement Retailer</p>
      </div>
       


      <!-- Extra Options -->
      <div class="extraOptions">
             <ul>
                 <li> <a href="#">Store Finder</a></li>
                 <li> <a href="#">Truck & Tool Rental</a></li>
                 <li> <a href="#">For the Pro</a></li>
                 <li> <a href="#">Gift Cards</a></li>
                 <li> <a href="#">Credit Services</a></li>
                 <li> <a href="#">Track Order</a></li>
                 <li> <a href="#">Help</a></li>
             </ul> 
      </div>

      <!-- navbar  -->
      <nav class="navbar"><%- include("partials/navbar"); %></nav>

      <!-- Product Banner -->
      <div class="productBanner">
        <img src="https://contentgrid.thdstatic.com/hdus/en_US/DTCCOMNEW/fetch/app-desktop.jpg" alt="">
      </div>

      <!-- Result and sorting heading -->
      <div class="resultDiv">

        <div class="box1">
          <h4>Results</h4>
        </div>

        <div class="box2">
          <p>Sort by: </p>

          <select id="sortEl">
            <option value="topSeller">Top Sellers</option>
            <option value="mostpopular">Most Popular</option>
            <option value="low">Price Low to High</option>
            <option value="high">Price High to Low</option>
            <option value="topRate">Top Rated Products</option>
          </select>
        </div>
      </div>
      

      <div class="product_wrapper">
        <div class="filterOptions">
          <div class="get_fast" style="margin-top:0px;">
            <div class="content" >
              <h4>Get It Fast </h4>
              <div id="gif"></div>
            </div>
            <h4 onclick="showGif()"><i style="margin-top:50%;"class="fas fa-chevron-down"></i></h4>
            
           </div>
           <div class="get_fast">
               <div class="content" >
                <h4>Availability</h4>
                <div id="avail"></div>
               </div>
            
               <h4 onclick="showAvail()"><i style="margin-top:50%;"class="fas fa-chevron-down"></i></h4>
            
           </div>
           <div class="get_fast">
                <div class="content">
                  <h4>Department</h4>
                  <div id="department"></div>
                </div>
            
                <h4 onclick="showDep()"><i style="margin-top:50%;"class="fas fa-chevron-down"></i></h4>
          </div>
            <div class="get_fast">
                <div class="content">
                   <h4>Brand</h4>
                   <div id="brand"></div>
                </div>
            
                <h4 onclick="showBran()"><i style="margin-top:50%;"class="fas fa-chevron-down"></i></h4>
           </div>
           <div class="get_fast">
              <div class="content">
                <h4>Price</h4>
                <div id="prc"></div>
              </div>
          
              <h4 onclick="showPrc()"><i style="margin-top:50%;"class="fas fa-chevron-down"></i></h4>
        </div>
            <div class="get_fast">
                <div class="content">
                  <h4>Style</h4>
                  <div id="style"></div>
                </div>
            
                <h4 onclick="showstyle()"><i style="margin-top:50%;"class="fas fa-chevron-down"></i></h4>
           </div>
            <div class="get_fast">
                <div class="content">
               <h4>Review Rating</h4>
                </div>
            
                <h4><i style="margin-top:50%;"class="fas fa-chevron-down"></i></h4>
           </div>
            <div class="get_fast">
                <div class="content">
                     <h4>Product Width (in.)</h4>
                </div>
          
                <h4><i style="margin-top:50%;"class="fas fa-chevron-down"></i></h4>
           </div>
            <div class="get_fast">
                <div class="content">
                 <h4>Savings Center</h4>
                </div>
            
                <h3><i style="margin-top:50%;"class="fas fa-chevron-down"></i></h3>
           </div>
            <div class="get_fast">
                <div class="content">
                 <h4>Product Depth (in.)</h4>
                </div>
            
                <h4><i style="margin-top:50%;"class="fas fa-chevron-down"></i></h4>
           </div>
            <div class="get_fast">
                <div class="content">
                   <h4>New Arrival</h4>
                </div>
           
                <h4><i style="margin-top:50%;"class="fas fa-chevron-down"></i></h4>
           </div>
            <div class="get_fast">
                <div class="content">
                  <h4>Saving by Percentage Off</h4>
                </div>
            
                <h4><i style="margin-top:50%;"class="fas fa-chevron-down"></i></h4>
           </div>
            <div class="get_fast">
                <div class="content">
                  <h4>Frame Material</h4>
                </div>
            
                <h4><i style="margin-top:50%;"class="fas fa-chevron-down"></i></h4>
           </div>
            <div class="get_fast">
                <div class="content">
                  <h4>Product Height (in.) </h4>
                </div>
            
                <h4><i style="margin-top:50%;"class="fas fa-chevron-down"></i></h4>
           </div>
            <div class="get_fast">
                <div class="content">
                 <h4>Color Family </h4>
                </div>
            
                <h4><i style="margin-top:50%;"class="fas fa-chevron-down"></i></h4>
           </div>
            <div class="get_fast">
                <div class="content">
                     <h4>The Home Depot Events </h4>
                </div>
          
                <h4><i style="margin-top:50%;"class="fas fa-chevron-down"></i></h4>
           </div>
            <div class="get_fast">
                <div class="content">
                  <h4>Upholstery Material </h4>
                </div>
           
                <h4><i style="margin-top:50%;"class="fas fa-chevron-down"></i></h4>
           </div>
        </div>
        <div class="product-container">
        </div>
       
      </div>
      <div class="pagesbox">
        <div class="pages">
          <div class="first" onclick="data(1,10)">1</div>
          <div class="first" onclick="data(2,10)">2</div>
          <div class="first" onclick="data(3,10)">3</div>
          <div class="first" onclick="data(4,10)">4</div>
          <div class="first" onclick="data(5,10)">5</div>
       
      
        </div>
      </div>
      
           
    
      
    </div>  
    

    <!-- starting newly added items above footer -->

     
    <div id="container">
      <div id="productDiv">
         <div id="imgDiv">
         <img src="https://images.thdstatic.com/productImages/a54afce9-c92e-49dc-aaa0-4e913360e06c/svn/black-onyx-south-shore-platform-beds-3127209-64_300.jpg"> 
          <p>South Shore Cosmos Full Storage Bed</p>
          <div id="starDiv"> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
          <span id="rating">45</span></div>
          <h3>$386.09</h3>
            <button>Add To Cart</button>
      </div>
      
      </div>

      <div id="productDiv">
         <div id="imgDiv">
         <img src="https://images.thdstatic.com/productImages/222517ac-fcbe-45e6-aad7-6131d62d2d66/svn/dark-grey-zinus-platform-beds-fppstg-13f-64_300.jpg"> 
          <p>Zinus Finley Dark Grey Upholstered Full Platform Bed Frame with Lifting Storage</p>
          <div id="starDiv"> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
          <span id="rating">25</span></div>
          <h3>$489.24</h3>
            <button>Add To Cart</button>
      </div>
      
      </div>

      <div id="productDiv">
         <div id="imgDiv">
         <img src="https://images.thdstatic.com/productImages/cccbeb08-4a80-4350-aadc-f9502b3f21bb/svn/dark-grey-zinus-platform-beds-hd-fsup-f-64_300.jpg"> 
          <p>Zinus Kellen Upholstered Scalloped Platform Bed Frame, Full</p>
          <div id="starDiv"> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
          <span id="rating">80</span></div>
          <h3>$289.09</h3>
            <button>Add To Cart</button>
      </div>
      
      </div>
      <div id="productDiv">
         <div id="imgDiv">
         <img src="https://images.thdstatic.com/productImages/9ce849e1-c814-4c98-a375-2e16fafccc33/svn/natural-finish-madeleine-home-platform-beds-mh-bd-11500-64_300.jpg"> 
          <p>Rhona White Wash Natural 61 in. x 81 in. x 13.50 in. Platform Bed with Easy Assembly</p>
          <div id="starDiv"> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
          <span id="rating">6</span></div>
          <h3>$499.09</h3>
            <button>Add To Cart</button>
      </div>
      
      </div>
      <div id="productDiv">
         <div id="imgDiv">
         <img src="https://images.thdstatic.com/productImages/0f20e71a-20df-44c3-a511-c3d7d1f62707/svn/walnut-eluxury-platform-beds-bedframeflwal-64_300.jpg"> 
          <p> ELUXURY Wooden Full Walnut Platform Bed Frame</p>
          <div id="starDiv"> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
          <span id="rating">102</span></div>
          <h3>$409.99</h3>
            <button>Add To Cart</button>
      </div>
      
      </div>
      
    
      

  </div>

<div id="related">
<h2>Related Searches</h2>
</div>

<div id="related_searches">
 <div id="relatedDiv"><img src="https://assets.thdstatic.com/images/v1/magnify-symbol-orange.svg"><span>arm chair</span></div>
 <div id="relatedDiv"><img src="https://assets.thdstatic.com/images/v1/magnify-symbol-orange.svg"><span>adirondack chair</span></div>
 <div id="relatedDiv"> <img src="https://assets.thdstatic.com/images/v1/magnify-symbol-orange.svg"><span>outdoor chairs</span></div>
 <div id="relatedDiv"> <img src="https://assets.thdstatic.com/images/v1/magnify-symbol-orange.svg"><span id="patio">stackable patio chairs</span></div>
 <div id="relatedDiv"><img src="https://assets.thdstatic.com/images/v1/magnify-symbol-orange.svg"><span> oslo chairs</span></div>
 <div id="relatedDiv"><img src="https://assets.thdstatic.com/images/v1/magnify-symbol-orange.svg"><span>foot rollers chairs</span> </div>
 
 
</div>

<div id="related">
<h2>Related Products</h2>
</div>

    <div id="relatedProducts">
      <div id="relatedproductDiv">
         <div id="imgDiv">
         <img src="https://images.thdstatic.com/productImages/acb3365e-aec4-437a-bbeb-24342a964165/svn/gray-lifestyle-solutions-accent-chairs-ashford-collection-chair-64_300.jpg"> 
          <h4>Dark Grey Ashford Collection Armchair</h4>
          <span>Add vintage charm to your living room, study</span>
           <h5 id="view">View More</h5>
       
      </div>
      
      </div>

      <div id="relatedproductDiv">
         <div id="imgDiv">
         <img src="https://images.thdstatic.com/productImages/61092f3b-0a72-4107-9753-30264f473910/svn/dark-grey-lifestyle-solutions-accent-chairs-ccwenks1m26dgra-64_300.jpg"> 
          <h4>Wesley Microfiber Chair with Rolled Arm in Dark Grey</h4>
          <span>Find the perfect union of classic style and</span>
           <h5 id="view">View More</h5>
          
      </div>
    </div>
      
      
      <div id="relatedproductDiv">
         <div id="imgDiv">
         <img src="https://images.thdstatic.com/productImages/7ae260ab-ef50-49b7-8a64-3f7d144e98aa/svn/brown-noble-house-accent-chairs-907-64_300.jpg"> 
          <h4>Lorenzo Brown Polyester High Back Club Chair</h4>
          <span>The ideal combination of classic fabric design</span>
           <h5 id="view">View More</h5>
          
      </div>
    </div>
   
     <div id="relatedproductDiv">
         <div id="imgDiv">
         <img src="https://images.thdstatic.com/productImages/ab3f9888-b215-47b2-9516-862cd1aea516/svn/gray-brookside-accent-chairs-bs0002chr00fg-64_300.jpg"> 
          <h4>Vera Gray Faux Leather Upholstered Barrel Accent Chair</h4>
          <span>Designed to provide optimal comfort with</span>
          <h5 id="view">View More</h5>
          
      </div>
    </div>

  </div>




    <!-- ending  newly added items above footer-->

    <footer class="footer">
      <%- include("partials/footer"); %>
    </footer>
  
</body>
</html>






<script src="/script/allProduct.js"></script>

<script>data(1,10)</script>



 <script src="../Script/currentLocation.js" type="module"></script>
<script src="../Script/delivery.js" type="module"></script>
<script src="../Script/profile.js" type="module"></script>
<script src="../Script/allDepartment.js" type="module"></script>
<script src="../Script/db.js"></script>
<script src="../Script/profileUpdate.js"></script>
<script src="../script/sidebar.js"></script> -->




