.productBanner{
    margin: 50px;
    /* width: 980px; */
    border: 1px solid rgba(250, 179, 167, 0.349);
}
.container{
    overflow: hidden;
    /* width: max-content; */
}

.resultDiv{
    display: flex;
    justify-content: space-between;
}

.resultDiv .box2{
    display: flex;
    margin-right: 150px;
}

.resultDiv .box1{
    margin-left: 50px;
}

.product_wrapper{
    /* border: 1px solid black; */
    display: flex;
    margin: 20px 0px;
}

.filterOptions{
    min-width: 200px;
    border: 1px solid brown;
    height: 600px;
    
}

.product-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: rgba(219, 218, 218, 0.37);
    font-family: sans-serif;
}

.product{
    height: fit-content;
    margin: 8px;
    overflow: hidden;
    border: 1px solid rgba(128, 128, 128, 0.281);
    background-color: white;
    text-align: center;
    /* min-width: 300px; */
    position: relative;
    padding: 10px 10px 10px 10px;
    height: 600px;
}


.productImg{
    width: 65%;
    height: 35%;
    /* border:1px solid black; */
    object-fit: contain;
}
.productImg:hover{
cursor: pointer;
}

.favorite_div{
    display: flex;
    background-color: rgba(233, 231, 231, 0.486);
   height:20px;
   width:45px;
  justify-content: space-between;
  float: right;
  padding: 4px;
  border-radius: 40px;
    
}
.favorites{
    font-size: 12px;
     padding-top: 2px;
     color: #333;
}




.color_container{
    display: flex;
   
    /* border:1px solid rgb(169, 143, 199); */
    padding-left: 0px;
}

.firstBox,.secondBox{
    
    width: 35px;
    height: 35px;
    margin: 3px;
    border-radius: 4px;
   
}

.firstBox img{
    height:28px;
    width:28px;
   
    padding-top: 3px;
    border-radius: 15%;
}
.secondBox img{
    height:28px;
    width:28px;
    padding-top: 3px;
    border-radius: 15%;
}

.firstBox:hover,.secondBox:hover{
    border: 1px solid #f96302;
    cursor: pointer;
}

.product .title{
    font-size: 15px;
    text-align: left;
    
    font-family: "helvetica-neue,Helvetica Neue,Helvetica,Arial,sans-serif";
    color: #333;
    /* border:1px solid red; */
    padding:10px 10px 10px 0px; 
}
.title:hover{
    text-decoration: underline;
    cursor: pointer;
}

.product .price{
    color: #333;
    font-size: 15px;
     padding: 10px ;
     border:1px solid orangered
}

.product .descrip{
    color: rgb(177, 176, 176);
    border:1px solid orangered
    
}

.product .modelNo{
    font-size: 15px;
    text-align: left;
    /* border:1px solid green; */
    padding:0px 10px 10px 0px; 
}

.product .rating_div{
    display: flex;
    align-items: center;
}

.product .stars{
    color: #f96302;
    font-size: 14px;
    text-align: left;
    display: flex;
    padding:10px 1px 10px 0px; 
    /* border:1px solid  yellow */
    
}

.product .ratingCount{
    margin: 12px 0px;
    margin-left: 5px;
    font-size: 12px;
    /* border: 1px solid red;; */
}
.ratingCount:hover{
    text-decoration: underline;
}
.product .priceDiv{
    display: flex;
    font-size: 13px;
   
    padding:10px 0px 10px 0px;
}

/* PickUp section */
.pickUp{
    display: flex;
   
    margin: 18px 0px;
    font-size: 12px;
    border:1px solid red;
}

.pickupHeading{
    /* display: block; */
    margin: 0px 10px;
}

/* Delivery Section */
.deliveryContainer{
    display: flex;
    margin: 18px 0px;
    font-size: 12px;
    border:1px solid green;
}

.deliveryheading{
    margin: 0px 10px;
    background-color: transparent;
}

.addToCartBtn{
    /* display: none; */
    margin:15px auto;
    padding: 12px;
    font-size: 20px;
    width: 80%;
    border: 2px solid #ccc;
    background-color: rgb(248, 248, 248);
    color: #ccc;
    cursor: pointer;
    /* position: absolute; */
    /* left: 42.5px; */
    /* top: 45%; */
}


.addToCartBtn:hover{
    background-color:#ccc;
    color: white
    /* border:1px solid red */
}

#sortEl{
    border: 1px solid tomato;
}


.filterOptions{
    margin-top: 18px;
}

.pagesbox{
    height:50px;
    width:250px;
    /* border:1px solid black; */
    margin: auto;
}
.pages{
    height:40px;
    width:240px;
    border:1px solid  grey;
   display:flex;
 
    border-radius: 20px;

}

.first{
    width: 19%;
  border: 1px solid grey;
    /* border-radius: 15px; */
   text-align: center;
   padding-top: 10px;
}


/* newly added items css */

#container{
    margin-top: 40px;
    height:450px;
    width:98%;
    display: flex;
   justify-content: space-between;
   margin: auto;
   
}
#productDiv{
    height:440px;
    width:220px;
    /* border:1px solid green; */
    margin-top: 5px;
    margin-left: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-left: 10px;
}
p:hover{
    cursor: pointer;
    text-decoration: underline;
}

#imgDiv img{
    height:200px;
    width:200px;
    margin-top: 5px;
    /* border: 1px solid  orangered; */
}
img:hover{
 cursor: pointer;
}

#starDiv{
    display: flex;
    height:30px;
    width:150px;
   /* border:1px solid green */
}
#starDiv:hover{
    cursor: pointer;
}
#starDiv span:hover{
    text-decoration: underline;
}
i{
color: orangered;
}
button{
    height:40px;
    width:200px;
    background-color: white;
    border: 3px solid orangered;
    font-size: 20px;
    color: orangered;
}
button:hover{
    background-color: orangered;
    color: white;
}

#related{
  height:50px;
  width:200px;
  border:none;
  margin: auto;
 margin-top: 120px;
  
}
#related h2{
   font-size: 25px;
  font-weight: normal;
  text-align: center;
  color: #333;
  font-family: helvetica-neue-light,Helvetica Neue,Helvetica,Arial,sans-serif;
  border-bottom:3px solid orangered;
}
#related_searches{
  height:50px;
  width:1050px;
  
  margin: auto;
  display: flex;
  gap: 10px;

}

#relatedDiv{
  margin-top: 10px;
  margin: auto;
height:40px;
width:190px;
border:1px solid grey;
border-radius: 20px;
text-align: center;
color: #333;
justify-content: space-evenly;
background-color: white;
 
}
#relatedDiv img{
 height:15px;
 width:15px;
 margin-top: 8px;
 transform:rotate(270deg)
  
}
#relatedDiv span:hover{
  text-decoration: underline;
}

#relatedProducts{
  height:360px;
  width:80%;
  
  display: flex;
  gap:15px;
  margin:auto;
  padding: 10px;
}
#relatedproductDiv{
  height:360px;
  width:320px;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 2px;
}
#relatedproductDiv h4{
  color:rgb(41, 39, 39);
}

#view{
  margin-top: 10px;
color: #3e7697;
  
}
#view:hover{
  cursor: pointer;
  text-decoration:none;
}
/* ending added items css */